// 1. Flex Direction: ROW
@mixin flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-space-around-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-row-center-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-row-start-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-start-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flex-row-end-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flex-row-end-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

// 1.1 Flex Direction: COLUMN
@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column-space-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-space-around-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-column-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-column-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-column-start-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flex-column-end-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flex-column-end-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}



// 2. CENTERING
@mixin center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-x {
  display: flex;
  justify-content: center;
}

@mixin center-y {
  display: flex;
  align-items: center;
}

// 3. SIZE
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

// 4. TYPOGRAPHY
@mixin font($family, $size, $weight: normal, $lineHeight: 1.4, $color: inherit) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
}

@mixin truncate-text($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// 5. SPACING
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

// 6. BORDER & RADIUS
@mixin border($width: 1px, $style: solid, $color: #000) {
  border: $width $style $color;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

// 7. BOX-SHADOW
@mixin box-shadow($x: 0, $y: 2px, $blur: 5px, $spread: 0, $color: rgba(0, 0, 0, 0.15)) {
  box-shadow: $x $y $blur $spread $color;
}

// 8. TRANSITION
@mixin transition($properties: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $properties $duration $timing;
}

// 9. VISIBILITY & POSITIONING
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// 10. RESPONSIVE MEDIA QUERY
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: 900px) { @content; }
  } @else if $breakpoint == desktop {
    @media (min-width: 901px) { @content; }
  }
}
